{% extends 'accounts/layouts/AccountBase.html' %}

{% load staticfiles %}

{% block page_content %}
     <div class="sufee-login d-flex align-content-center flex-wrap">
        <div class="container">
            <div class="login-content">
                <div class="login-logo">
                    <a href="index.html">
                        <img class="align-content" src="{% static 'images/logo.png' %}" alt="">
                    </a>
                </div>
                <div class="login-form">
                    <form method="post" action="">
                        {% csrf_token %}

                        <div class="form-group">
                            <label>Email address</label>
                             {{ form.email }}
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            {{ form.password }}
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Remember Me
                            </label>
                            <label class="pull-right">
                                <a href="#">Forgotten Password?</a>
                            </label>

                        </div>
                        <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Sign in</button>

                        <div class="register-link m-t-15 text-center">
                            <p>Don't have account ? <a href="{% url 'register' %}"> Sign Up Here</a></p>
                        </div>


                    </form>
                </div>
            </div>
        </div>
     </div>
{% endblock %}