<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body>
     <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">django Project</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link {% if menu == 'post' %} active {% endif %}" href="{% url 'all_post' %}">Post</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if menu == 'blog' %} active {% endif %}" href="{% url 'all_blog' %}">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'user-register' %}">User Register</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'add_category' %}">Add Blog Category</a>
    </li>

  </ul>
</nav>
    {% block page_content %} {% endblock %}

</body>
</html>