{% extends 'layouts/base.html' %}

{% block page_content %}
    Add Blog Category:
    <div class="col-md-5">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
{% endblock %}