{# Load base layout #}
{% extends "layouts/base.html" %}

{# load static folder #}
{% load static %}


{# display post data through a for loop #}
{% block page_content %}
    <h1>All Blog List</h1>
        <div class="row">
            {% for post in blogs %}
                <div class="col-md-4">
                    <div class="card mb-2">
{#                        <img class="card-img-top" src="{% static post.image %}">#}
                        <div class="card-body">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <small>
                                {{ post.created_on.date }} |&nbsp;
                                Categories:&nbsp;
                                {% for category in post.categories.all %}
                                    <a href="{% url 'blog_category' category.name %}">
                                        {{ category.name }}
                                    </a>&nbsp;
                                {% endfor %}
                            </small>
                            <p class="card-text">{{ post.body }}</p>
                            <a href="{% url 'blog_details' post.pk %}"
                               class="btn btn-primary">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
