{% extends 'layouts/base.html' %}

{% block page_content %}
    <h1>{{ details.title }}</h1>
    <div class="row">
        <div class="col-md-8">
            <h5>About the blog:</h5>
            <a>
                {{ details.created_on.date }} |&nbsp;
                Categories:&nbsp;
                {%  for category in details.categories.all %}
                    <a href="{% url 'blog_category' category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ details.body }}</p>
            <h3>Leave a comment:</h3>
            <form action="/blog/{{ details.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>
                <div class="form-group">
                    {{ form.body }}
                </div>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            <h3>Comments:</h3>
            {% for comment in comments %}
                <p>
                    On {{ comment.created_on.date }}&nbsp;
                    <b>{{ comment.author }}</b> Wrote:
                </p>
                <p>{{ comment.body }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}