{# Load base layout #}
{% extends "layouts/base.html" %}

{# load static folder #}
{% load static %}


{# display post data through a for loop #}
{% block page_content %}
    <h1>All Posts</h1>
        <div class="row">
            {% for post in posts %}
                <div class="col-md-4">
                    <div class="card mb-2">
                        <img class="card-img-top" src="{% static post.image %}">
                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.description }}</p>
                            <a href="{% url 'post_detail' post.pk %}"
                               class="btn btn-primary">
                                Read More
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
{% endblock %}
