{# Load base layout #}
{% extends 'layouts/base.html' %}

{# load static folder #}
{% load static %}

{% block page_content %}
    <h1>{{ post.title }}</h1>
    <div class="row">
    <div class="col-md-8">
            <img src="{% static post.image %}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>About the post:</h5>
            <p>{{ post.description }}</p>
            <br>
            <h5>Technology used:</h5>
            <p>{{ post.technology }}</p>
        </div>
    </div>
{% endblock %}